@font-face {
  font-family: "BrandonGrotesque";
  src: url("/fonts/BrandonGrotesque-Regular.otf") format("opentype");
  font-weight: 390;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url("/fonts/BrandonGrotesque-Bold.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url("/fonts/BrandonGrotesque-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url("/fonts/BrandonGrotesque-BoldItalic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url("/fonts/BrandonGrotesque-RegularItalic.otf") format("opentype");
  font-weight: 390;
  font-style: italic;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url("/fonts/BrandonGrotesque-LightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

body {
  font-family: "BrandonGrotesque";
}
